.login-container {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  overflow: auto;
  align-items: center;
  flex-direction: column;
}
.login-login {
  width: 100%;
  height: 100vh;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 1);
}
.login-frame1741 {
  gap: 60px;
  top: 146px;
  left: 332px;
  width: 616px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.login-frame1523 {
  gap: 40px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
  width: 100%;
}
.login-frame1522 {
  gap: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.login-frame1520 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login-text {
  color: #226957;
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text02 {
  color: #4F4F4F;
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-frame1519 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.login-frame1509 {
  gap: 10px;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(206, 214, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  width: 100%;
}
.login-frame1509 input[type="text"] {
  color: #333333;
  width: 100%;
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  padding: 8px;
}

.login-frame1510 {
  gap: 10px;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(206, 214, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  width: 100%;
}
.login-frame1510 input[type="password"] {
  color: #333333;
  width: 100%;
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  padding: 8px;
}

.login-text08 {
  color: rgba(79, 79, 79, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text09 {
  color: var(--dl-color-default-gray2);
}
.login-text10 {
  color: var(--dl-color-default-primary);
}
.login-frame1521 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.login-frame1512 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
}
.login-button {
  padding: 10px 20px;
  width: 140px;
  height: 38px;
  background-color: #226957;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.register-button {
  padding: 10px 20px;
  background-color: #EA9E1F;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  white-space: nowrap;
}
.login-text12 {
  color: #FFFFFF;
  width: 120px;
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text14 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-text15 {
  color: rgba(0, 0, 0, 1);
}
.login-frame1517 {
  top: 0px;
  left: 0px;
  width: 100%;
  display: flex;
  padding-left: 50px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 50px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.login-frame1518 {
  gap: 10px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.login-frame1738 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.login-image5 {
  width: 50px;
  height: 50px;
}
.login-text17 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-frame1516 {
  gap: 40px;
  display: flex;
  align-items: center;
  padding-right: 50px;
}
.login-frame1737 {
  gap: 16px;
  display: flex;
  align-items: center;
}
.login-frame1513 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
  padding: 10px, 20px, 10px, 20px;
}
.login-text19 {
  color: #FFFFFF;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-frame15171 {
  gap: 10px;
  display: flex;
  align-items: flex-start;
  border-radius: 8px;
}
.login-text21 {
  color: #FFFFFF;
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
