.register-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.register-register {
  width: 100%;
  height: 720px;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 1);
}
.register-frame1740 {
  gap: 60px;
  top: 146px;
  left: 332px;
  width: 616px;
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
}
.register-frame1523 {
  gap: 40px;
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}
.register-frame1522 {
  gap: 40px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.register-frame1520 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.register-frame1739 {
  display: flex;
  align-items: center;
}
.register-text {
  color: var(--dl-color-default-primary);
  height: auto;
  font-size: 24px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  margin-right: 5px;
  color: #226957;
}
.register-text02 {
  color: var(--dl-color-default-secondary);
  height: auto;
  font-size: 36px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  color: #ea9e1f;
}
.register-text04 {
  color: var(--dl-color-default-gray2);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.register-frame1519 {
  gap: 24px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
}
.register-frame1508 {
  gap: 10px;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(206, 214, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  width: 100%;
}
.register-frame1508 input[type="text"] {
  color: #333333;
  width: 100%;
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  padding: 8px;
}
.register-frame1509 {
  gap: 10px;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(206, 214, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  width: 100%;
}
.register-frame1509 input[type="text"] {
  color: #333333;
  width: 100%;
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  padding: 8px;
}
.register-frame1510 {
  gap: 10px;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(206, 214, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  width: 100%;
}
.register-frame1510 input[type="password"] {
  color: #333333;
  width: 100%;
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  padding: 8px;
}
.register-frame1511 {
  gap: 10px;
  display: flex;
  box-sizing: content-box;
  align-items: center;
  border-color: rgba(206, 214, 229, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 4px;
  width: 100%;
}
.register-frame1511 input[type="password"] {
  color: #333333;
  width: 100%;
  height: auto;
  font-size: 15px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
  padding: 8px;
}
.register-frame1512 {
  gap: 10px;
  display: flex;
  padding: 10px;
  align-items: flex-start;
  border-radius: 8px;
  background-color: var(--dl-color-default-primary);
}
.register-button {
  padding: 10px 20px;
  background-color: #226957;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.register-text14 {
  color: rgba(255, 255, 255, 1);
  width: 120px;
  height: auto;
  font-size: 15px;
  font-style: Medium;
  text-align: center;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.register-text16 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 16px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.register-text17 {
  color: rgba(0, 0, 0, 1);
}
.register-frame1517 {
  top: 0px;
  left: 0px;
  width: 1280px;
  display: flex;
  padding: 8px 50px;
  position: absolute;
  align-items: center;
  flex-shrink: 0;
  background-color: rgba(255, 255, 255, 1);
}
.register-frame1518 {
  gap: 10px;
  width: 973px;
  display: flex;
  padding: 10px;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  flex-direction: column;
}
.register-frame1738 {
  gap: 10px;
  display: flex;
  align-items: center;
}
.register-image5 {
  width: 50px;
  height: 50px;
}
.register-text19 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  font-size: 24px;
  font-style: Regular;
  text-align: left;
  font-family: Montserrat;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.register-frame1516 {
  gap: 40px;
  display: flex;
  align-items: center;
}
.register-frame1737 {
  gap: 16px;
  display: flex;
  align-items: flex-start;
}
.register-frame1513 {
  gap: 10px;
  display: flex;
  padding: 10px 5px;
  align-items: flex-start;
  border-radius: 8px;
  background-color: var(--dl-color-default-primary);
}
.register-text21 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.register-frame15171 {
  gap: 10px;
  display: flex;
  padding: 10px 10px;
  align-items: flex-start;
  border-radius: 8px;
}
.register-text23 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  font-style: Medium;
  text-align: left;
  font-family: Montserrat;
  font-weight: 500;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.login-button {
  padding: 10px 10px;
  width: 140px;
  height: 38px;
  background-color: #226957;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}
.register-button1 {
  padding: 10px 9px;
  background-color: #ea9e1f;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
